@import url(http://fonts.googleapis.com/css?family=Noto+Sans+TC+Sliced);
html,
body {
  height: 100%;
  margin: 0;
}
/* @import url(http://fonts.googleapis.com/earlyaccess/notosansscsliced.css); */
canvas * {
  font-family: "Noto Sans TC Sliced";
}
